body {
  font-family: sans-serif;
  padding: 20px;
}

label {
  display: inline-block;
  width: 60px;
  margin-bottom: 5px;
}

.result {
  margin-top: 20px;
  padding: 15px;
  background: #e7f3fe;
  border-radius: 5px;
}

.error {
  color: red;
  font-weight: bold;
}

h1 {
  background-color: lightgray;
  color: blue;
  width: fit-content;
  padding: 5px;
}

.wrapper-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
