label {
    display: inline-block;
    width: fit-content;
}

.answer-label {
    width: fit-content;
}

h1 {
    width: fit-content;
    font-size: 30px;
    background-color: lightgray;
    color: blue;
}

.wrapper-center {
  display: flex;
  justify-content: center;
  align-items: center;
}