html, body {
    height: 100%;
    font-family: monospace, sans-serif;
    text-shadow: rgb(255, 0, 144) 1px 0 10px;
    background: linear-gradient(45deg, #4b5f78, #169da9);
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  h1 {
    text-align: center;
  }
  
  .calculator {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    background: rgba(255, 255, 255, 0.15);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .button-container {
    text-align: center;
  }

  .input-fields label {
    display: block;
    text-shadow: rgb(255, 234, 0) 1px 0 10px;
    margin-bottom: 4px;
  }
  
  .input-fields input {
    width: 95%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  @keyframes sizeChange {
    0% { background-color: #112A46;
        transform: scale(1);}
    50% { background-color: #7b2f90;
        transform: scale(1.2);}
    100% { background-color: #ca3351; }
}

  .calculate {
    display: inline-block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #112A46;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.700ms, background-color 0.3s;
  }
  
  .calculate:hover {
    animation: sizeChange 0.7s linear forwards;
  }
  
  .calculate:active {
    transform: scale(0.9);
  }

  .collapsible {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    font-family: cursive;
    font-size: 18px;
  }
  
  .active, .collapsible:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }  

  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 30px;
    margin-bottom: 6px;
  }

  .content span {
    font-weight: bold;
    text-shadow: 1px 1px 2px red;
  }

  .group {
    margin-bottom: 30px;
  }